---
# 1. 
- name: "Increase Virtual Memory for Elasticsearch (Critical for Sonar)"
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: yes

# 2. 
- name: "Installer unzip (dépendance)"
  apt:
    name: unzip
    state: present
    update_cache: yes

- name: "Télécharger et extraire Sonar-Scanner"
  unarchive:
    src: "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-{{ sonar_version }}-linux-x64.zip"
    dest: /opt/
    remote_src: yes
    creates: "/opt/sonar-scanner-{{ sonar_version }}-linux-x64"

- name: "Créer le lien symbolique pour sonar-scanner"
  file:
    src: "/opt/sonar-scanner-{{ sonar_version }}-linux-x64/bin/sonar-scanner"
    dest: /usr/local/bin/sonar-scanner
    state: link

# 3
- name: "Lancer SonarQube Server Container"
  docker_container:
    name: sonarqube_server
    image: sonarqube:lts-community
    state: started
    restart_policy: always
    ports:
      - "9000:9000"
    env:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
